body {
    margin:0px;
    background-color:#bfd6db;
}

h3 {
    text-align:center;
}

header {
    padding:10px;
    background-color:rgb(247, 175, 175);
    text-align:center;
}

button {
    width:300px;
    height:100px;
    font-size:35px;
    background-color:rgb(181, 189, 111);
}

.less-bot-padding {
    padding-bottom:0px;
}

#title {
    font-size:50px;
}

#instructions {
    background-color:#bfd6db;
}

#margin-maker {
    margin:8px;
}

#text-results {
    white-space: pre-wrap;
    /*padding-bottom: 162px; /*creates spacing before results are output*/
}

#code-warning {
    font-weight:bold; 
    color: red;
}

#visual {
    float:right;
}

#graph {
    border-style:hidden;
    border-width:1px
}